extends layout

block title
  title #{title}

block stylesheets
  link(rel="stylesheet" type="text/css" href="/sui/semantic.min.css")
  
block content
  div(class="ui container")
    button(class="ui primary button") This is a button
