doctype html
html
  head
    title #{title}
    link(rel="stylesheet" type="text/css" href="/sui/semantic.min.css")
    
  body
    div(class="ui container")
      button(class="ui primary button") Hello
